// app global css in SCSS form
.non_hover_btn .q-focus-helper {
  position: static;
  top: 0;
  left: 0 /* rtl:ignore;; */;
  width: 0% !important;
  height: 0% !important;
}

.non_hover_btn:hover {
  color: #1976d2 !important;
}

th {
  font-size: 1.2rem !important;
}
